<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DARKRED</key>
	<dict>
		<key>MIN</key>
		<integer>100</integer>
		<key>MAX</key>
		<integer>100000</integer>
		<key>Instruction</key>
		<string>DARKRED</string>
		<key>Color</key>
		<string>#9e0d03</string>
	</dict>
	<key>RED</key>
	<dict>
		<key>MIN</key>
		<integer>50</integer>
		<key>MAX</key>
		<integer>100</integer>
		<key>Instruction</key>
		<string>RED</string>
		<key>Color</key>
		<string>#ff0000</string>
	</dict>
	<key>YELLOW</key>
	<dict>
		<key>MIN</key>
		<integer>35</integer>
		<key>MAX</key>
		<integer>50</integer>
		<key>Instruction</key>
		<string>YELLOW</string>
		<key>Color</key>
		<string>#ffff00</string>
	</dict>
	<key>GREEN</key>
	<dict>
		<key>MIN</key>
		<integer>0</integer>
		<key>MAX</key>
		<integer>35</integer>
		<key>Instruction</key>
		<string>GREEN</string>
		<key>Color</key>
		<string>#00ff00</string>
	</dict>
</dict>
</plist>
